
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
body {
	font-size: 18px;
	text-align: center;
}

h1{
	font-family: 'Reenie Beanie';
	display: inline-block;
	font-weight: 800;
} 

p {
	font-family: 'Reenie Beanie';
}

img {
	display: inline-block;
	max-width: 100%;
	position: center
    height: auto;
    margin: 30px auto 30px auto;
    border-radius: 2px;
} 

#two_column {
    background-color: ##ffd1dc;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: ##ff6f91;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: ##ff6f91;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "#right, #left";
    clear: both;
    height: 0;
}


footer {
	text-align: center;
	padding: 1em 0;
    clear: both;
}