
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
body {
	font-size: 18px;
	text-align: center;
}

h1,h2 {
	font-family: 'Reenie Beanie';
	display: inline-block;
	font-weight: 800;
} 

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
    color: ##8C8630;
}

img {
	display: inline-block;
	max-width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    border-radius: 2px;
} 

img {
	display: inline-block;
	max-width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    border-radius: 2px;
} 


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em;
  color: #000;
  background: #8C8630;
}

nav {
	font-size: 1.8em;
 	float: right;
} 

nav a {	
	text-decoration: none;
	color: black;
	margin: 1.8em;
	display: inline-block;
}

section {
  background: #000000;
  color: #fecfcc;
  overflow: auto;
}

div{
  font-size:1.2em;
  width: 46%;
  padding: 2%
  display:inline-block;
}

div {
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}

#hero {
	display: inline-block;
	width: 100%;
	margin: 0;
	background: #8C8630;
} 

#about{
  float: left;
}

#services{
  float: right;
}

footer {
	text-align: center;
	padding: 1em 0;
    clear: both;
}