
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
body {
	font-size: 18px;
	text-align: center;
}

nav {
     display: block;
     font-family: 'Reenie Beanie';
     text-decoration: none;
     float: left;
    }

h1{
	font-family: 'Reenie Beanie';
	display: inline-block;
	font-weight: 800;
} 

img {
	display: inline-block;
	max-width: 100%;
	position: center
    height: auto;
    margin: 30px auto 30px auto;
    border-radius: 2px;
} 

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}



footer {
	text-align: center;
	padding: 1em 0;
    clear: both;
}