@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
    background-color: #D9D8D7;
    text-align: center;
    font-family: 'Abril Fatface'
}

p {
    color: #8C7961;
}

h1 { 
color: #F2A7A7;
 }


