@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

body {
    background-color: #D9D8D7;
    text-align: center;
    
}

p {
    color: #8C7961;
}

h1 { 
	font-family: 'Reenie Beanie';
    color: ##B07748;
 }


