@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap');

body {
    background-color: #D9D8D7;
    text-align: center;
}

p {
    font-family:sans-serif;
    color: #8C7961;
}

h1 { 
	font-family: 'Annie Use Your Telescope';
    color: #000000;
 }


