@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
body {
	font-size: 18px;
	text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #FFF;
  font-family: 'Reenie Beanie';
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f4c2c2;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4c2c2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f4c2c2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1{
	font-family: 'Reenie Beanie';
	display: inline-block;
	font-weight: 800;
} 

p {
	font-family: 'Reenie Beanie';
}

img {
	display: inline-block;
	max-width: 100%;
	position: center
    height: auto;
    margin: 30px auto 30px auto;
    border-radius: 2px;
} 

#two_column {
    background-color: ##fff;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "#right, #left";
    clear: both;
    height: 0;
}


footer {
	text-align: center;
	padding: 1em 0;
    clear: both;
}