<style>
body {
  text-align: center;
  background: url("https://170508-edm-denim.s3-ap-southeast-2.amazonaws.com/full-width-banner-85-nz.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}